<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2022-07-04</string>
		<key>OpenSourceLicense</key>
		<string>GPL</string>
		<key>OpenSourceProject</key>
		<string>git</string>
		<key>OpenSourceVersion</key>
		<string>2.37.0</string>
		<key>OpenSourceSHA1</key>
		<value>e4a4b31577c7419497ac30cebe30d755b97752c5</value>
		<key>OpenSourceWebsiteURL</key>
		<string>http://git-scm.com</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Support Xcode.app-bundled gitattributes</string>
			<string>Support Xcode.app-bundled gitconfig</string>
			<string>HTML documentation is not provided with Apple&apos;s git. Make the error message more on point.</string>
			<string>Set Apple Git version during build</string>
			<string>Fix test cases that expect --version to not contain a space</string>
			<string>Pulled in advance patch for CVE-2021-21300</string>
		</array>
	</dict>
</array>
</plist>
