<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>subversion</string>
	<key>OpenSourceVersion</key>
	<string>1.10.3</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://subversion.apache.org/</string>
	<key>OpenSourceURL</key>
	<string>https://archive.apache.org/dist/subversion/subversion-1.10.3.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>7bbf350bf21901af46eb40028c50d7b6d0d4f9e0</string>
	<key>OpenSourceImportDate</key>
	<string>2018-12-10</string>
	<key>OpenSourceLicense</key>
	<string>apache</string>
	<key>OpenSourceLicenseFile</key>
	<string>subversion.txt</string>
</dict>
</plist>
