<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>subversion</string>
	<key>OpenSourceVersion</key>
	<string>1.9.7</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://subversion.apache.org/</string>
	<key>OpenSourceURL</key>
	<string>https://archive.apache.org/dist/subversion/subversion-1.9.7.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>874b81749cdc3e88152d103243c3623ac6338388</string>
	<key>OpenSourceImportDate</key>
	<string>2017-11-05</string>
	<key>OpenSourceLicense</key>
	<string>apache</string>
	<key>OpenSourceLicenseFile</key>
	<string>subversion.txt</string>
</dict>
</plist>
