<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>libgit2</string>
	<key>OpenSourceVersion</key>
	<string>0.27.7</string>
	<key>OpenSourceSCM</key>
	<string>https://github.com/libgit2/libgit2.git</string>
	<key>OpenSourceSHA1</key>
	<string>f23dc5b29f1394928a940d7ec447f4bfd53dad1f</string>
	<key>OpenSourceImportDate</key>
	<string>2018-02-27</string>
	<key>OpenSourceLicense</key>
	<string>GPL</string>
</dict>
</plist>
