<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>libgit2</string>
	<key>OpenSourceVersion</key>
	<string>1.3.0</string>
	<key>OpenSourceSCM</key>
	<string>https://github.com/libgit2/libgit2.git</string>
	<key>OpenSourceSHA1</key>
	<string>b7bad55e4bb0a285b073ba5e02b01d3f522fc95d</string>
	<key>OpenSourceImportDate</key>
	<string>2021-09-27</string>
	<key>OpenSourceLicense</key>
	<string>GPL</string>
</dict>
</plist>
