<plist version="1.0">
<array>
<dict>
	<key>OpenSourceProject</key>
	<string>glibtool</string>
	<key>OpenSourceVersion</key>
	<string>2.2.10</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.gnu.org/software/libtool/</string>
	<key>OpenSourceURL</key>
	<string>http://ftp.gnu.org/gnu/libtool/libtool-2.2.10.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>e8fa9813d8e9a5497c636744e6fd3f55d86eec38</string>
	<key>OpenSourceImportDate</key>
	<string>2010-06-14</string>
	<key>OpenSourceLicense</key>
	<string>GPL</string>
	<key>OpenSourceLicenseFile</key>
	<string>glibtool.txt</string>
</dict>
</array>
</plist>
