<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Volumes/work/egranata/submit/lldb-176</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2012-11-15T20:45:50Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Volumes/work/egranata/submit/lldb-176/build/Debug/darwin-debug</string>
		<string>/Volumes/work/egranata/submit/lldb-176/build/Debug/lldb</string>
		<string>/Volumes/work/egranata/submit/lldb-176/tools/debugserver/build/Debug/debugserver</string>
		<string>/Volumes/work/egranata/submit/lldb-176/build/Debug/com.apple.lldb.launcherXPCService.xpc</string>
		<string>/Volumes/work/egranata/submit/lldb-176/build/Debug/liblldb-core.a</string>
		<string>/Volumes/work/egranata/submit/lldb-176/build/Debug/LLDB.framework</string>
		<string>/Volumes/work/egranata/submit/lldb-176/build/Debug/com.apple.lldb.launcherRootXPCService.xpc</string>
		<string>/Volumes/work/egranata/submit/lldb-176/source/LLDBWrapPython.cpp</string>
		<string>/Volumes/work/egranata/submit/lldb-176/build/Debug/lldb-platform</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
